#main {
  background-color: rgb(238, 238, 238);
  border-radius: 2px;
}

body {
  text-align: center;
  font-size: 100%;
}

ul {
  max-width: 550px;
  margin: auto;
  text-align: left;
}

#image {
  margin: auto;
  max-width: 97%;
  display: block;
  padding: 7px 17px;
}

#img-caption {
  background-color: white;
  margin: 1px 7px;
}

#img-div {
  background-color: white;
}

blockquote {
  text-align: center;
}

li {
  padding-bottom: 12px;
}
